<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/">
    <head>
        <!--/*/<th:block th:fragment="metadata">/*/-->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <!--/*/</th:block>/*/--> <!--/* end of meta data */-->

        <title th:text="#{default_title}">Welcome to Judge Online</title>

        <!--/*/<th:block th:fragment="scripts">/*/-->
        <link th:href="@{/favicon.png}" href="../../../favicon.png" rel="shortcut icon" type="image/png"/>
        <link th:href="@{/favicon.ico}" href="../../../../resources/META-INF/resources/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <!-- Latest compiled and minified CSS -->
        <link href="../../../static/bootstrap/css/bootstrap.min.css" th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Optional theme -->
        <link href="../../../static/bootstrap/css/bootstrap-theme.min.css" th:href="@{/static/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
        <link href="../../../static/bootstrap-table/bootstrap-table.css" th:href="@{/static/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>

        <!-- Latest compiled and minified JavaScript -->
        <!-- my css -->
        <link href="../../../static/css/site.css" th:href="@{/static/css/site.css}" rel="stylesheet"/>

        <!--[if lte IE 6]>
        <link href="../../../static/bootstrap/css/bootstrap-ie6.css" th:href="@{/static/bootstrap/css/bootstrap-ie6.css}"/>
        <![endif]-->

        <!--[if lte IE 7]>
        <link href="../../../static/bootstrap/css/bootstrap-ie7.css" th:href="@{/static/bootstrap/css/bootstrap-ie7.css}"/>
        <![endif]-->

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../../../static/commons/js/html5shiv.min.js" th:src="@{/static/commons/js/html5shiv.min.js}" type="text/javascript"></script>
        <script src="../../../static/commons/js/respond.min.js" th:src="@{/static/commons/js/respond.min.js}" type="text/javascript"></script>
        <script src="../../../static/commons/js/json2.min.js" th:src="@{/static/commons/js/json2.min.js}" type="text/javascript"></script>
        <![endif]-->

        <!--[if (!IE)|(gt IE 8)]><!-->
        <script src="../../../static/commons/js/jquery-2.1.4.min.js" th:src="@{/static/commons/js/jquery-2.1.4.min.js}" type="text/javascript"></script>
        <!--<![endif]-->

        <!--[if lte IE 8]>
        <script src="../../../static/commons/js/jquery-1.11.3.min.js" th:src="@{/static/commons/js/jquery-1.11.3.min.js}" type="text/javascript"></script>
        <![endif]-->

        <script src="../../../static/commons/js/jquery.placeholder.min.js" th:src="@{/static/commons/js/jquery.placeholder.min.js}" type="text/javascript"></script>

        <script src="../../../static/bootstrap/js/bootstrap.min.js" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../../static/bootstrap-table/bootstrap-table-all.min.js" th:src="@{/static/bootstrap-table/bootstrap-table-all.min.js}" type="text/javascript"></script>
        <script src="../../../static/bootstrap-table/bootstrap-table-locale-zh.js" th:src="@{/static/bootstrap-table/bootstrap-table-locale-zh.js}" type="text/javascript"></script>
        <script src="../../../static/commons/js/purl.min.js" th:src="@{/static/commons/js/purl.min.js}"></script>
        <script src="../../../static/commons/js/qrcode.min.js" th:src="@{/static/commons/js/qrcode.min.js}"></script>

        <script src="../../../static/js/site.js" th:src="@{/static/js/site.js}"></script>
        <!--/*/</th:block>/*/--> <!--/* ends of fragment="scripts" */-->
    </head>
    <body>
        <th:block th:fragment="header">
            <nav role="navigation" id="header" class="navbar navbar-default navbar-fixed-top">
                <div class="container navbar-inner">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="../home.html" class="navbar-brand" th:href="@{/}" th:text="#{header.index}">Home</a>
                    </div> <!-- .navbar-header -->
                    <div id="navigation" class="collapse navbar-collapse" aria-expanded="true">
                        <ul class="nav navbar-nav">
                            <li><a href="../problems.html" th:href="@{/problems}" th:text="#{header.problems}" sec:authorize="hasRole('ADMIN')">Problems</a></li>
                            <li><a href="../users.html" th:href="@{/users}" th:text="#{header.users}">Users</a></li>
                            <li><a href="../contests.html" th:href="@{/contests}" th:text="#{header.contests}">Contests</a></li>
                            <li><a href="../faq.html" th:href="@{/faq}" th:text="#{header.faq}">FAQ</a></li>
                            <li><a href="../forum.html" th:href="@{/forum}" th:text="#{header.forum}">Forum</a></li>
                        </ul>
                        <!--/* you must add dependency thymeleaf-extras-springsecurity and has dialect SpringSecurityDialect */-->
                        <ul class="nav navbar-nav navbar-right nav-controls" sec:authorize="isAuthenticated()">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" th:inline="text">[[${#authentication.principal.username}]]<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/user/edit}">Edit Profile</a></li>
                                    <li><a th:href="@{/mail}">Mail</a></li>
                                    <li class="divider"></li>
                                    <li><a th:href="@{/logout}" data-no-turbolink="" th:text="#{header.logout}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right nav-controls" sec:authorize="!isAuthenticated()">
                            <li><a href="#" data-toggle="modal" data-target="#loginModal" th:text="#{header.login}">Login</a></li>
                        </ul>
                    </div>
                </div> <!-- .container -->
            </nav>
            <div class="navigation-placeholder"></div>
            <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="text-center" th:text="#{login.title}">Login</h1>
                        </div>
                        <div class="modal-body">
                            <form class="form col-md-12 center-block" th:action="@{/login}" th:replace="login :: .th-form-signin">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                                    <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
                                </div>
                            </form>
                        </div>
                        <!--/*--><div class="modal-footer">
                            <div class="col-md-12">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            </div>
                        </div><!--*/-->
                    </div>
                </div>
            </div><!-- #loginModal.modal -->
        </th:block>

        <div layout:fragment="content">
            <div>
                put html body here.
            </div>
        </div>

        <th:block th:fragment="footer">
            <hr/>
            <div class="footer text-center" >
                <p>Copyright &#169; <span th:text="${#calendars.format(execInfo.now,'yyyy')}">2010</span> ZJNU ACM</p>
            </div>
            <span th:title="#{back_to_top}" class="back-to-top" id="back-to-top"></span>
        </th:block>
    </body>
</html>
