# maven
/target/
*~

# sortpom
/pom.xml.bak

# dreamweaver
_notes/

# nodejs
npm-debug.log

# NetBeans
/nbproject/

# idea
/.idea/
/judge-web.iml
/dependency-reduced-pom.xml

# project
/src/main/webapp/META-INF/context.xml
/*.zip

