<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <link th:replace="layouts/default :: metadata" href="layouts/default.html" rel=""/>
        <title>contest problems</title>
        <link th:replace="layouts/default :: scripts" href="layouts/default.html" rel=""/>
        <!--/*-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--*/-->
    </head>
    <body>
        <div layout:fragment="content">contest problems</div>
    </body>
</html>
