<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <!--/*-->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--*/-->
        <title>Beans</title>
        <script src="../../static/commons/js/angular.js" th:href="@{/static/commons/js/angular.min.js}"></script>
    </head>
    <body ng-app="">
        <div class="container" layout:fragment="content">

        </div>
    </body>
</html>
