<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title>TODO supply a title</title>
        <!--/*-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--*/-->
    </head>
    <body th:inline="text">
        <!--/*/<th:block layout:fragment="content">/*/-->
        [[${themes.class.name}]]
        [[${beans.class.name}]]
        [[${beans.keySet()}]]
        [[${class}]]
        [[${#ctx.class}]]
        [[${#locale}]]
        [[${#vars.class}]]
        <ul>
            <li th:each="v : ${#vars.keySet()}" th:text="${v}"></li>
        </ul>
        [[${userRegisterForm}]]
        <!--/*/</th:block>/*/-->
    </body>
</html>
