<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:data="http://www.thymeleaf.org/"
      layout:decorator="layout">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title>An Error Occur</title>
    </head>
    <body>
        <div class="container" th:inline="text" layout:fragment="content">
            <h1>Whitelabel Error Page</h1>
            <p>This application has no explicit mapping for /error, so you are seeing this as a fallback.</p>
            <div id="created">[[${timestamp}]]</div>
            <div>There was an unexpected error (type=[[${error}]], status=[[${status}]]).</div>
            <div>[[${message}]]</div>
        </div>
    </body>
</html>
