<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout"
      th:replace="debug">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title th:text="#{home.title}">home</title>
        <!--/*-->
        <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--*/-->
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div th:replace="classic/showproblem :: body"></div>
        </div>
    </body>
</html>
