<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <link th:replace="layouts/default :: metadata" href="layouts/default.html" rel=""/>
        <title>TODO supply a title</title>
        <link th:replace="layouts/default :: scripts" href="layouts/default.html" rel=""/>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <form th:action="@{/upload}" role="form" enctype="multipart/form-data" method="POST">
                <input type="file" name="file"/>
                <input type="submit"/>
            </form>
            <div id="qrcode"></div>
        </div>
        <script>/*<![CDATA[/**/jQuery("#qrcode").qrcode(location.href);//]]>;</script>
    </body>
</html>
